@charset "utf-8";

p {
	margin: 0;
}


body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #dda82f;
}

h1, h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;	
}

h2 {
	color: #223165;
}

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; 
	margin: 0; 
	padding: 0; 
}

ul {
	list-style-type: none;
}

li {
	display: inline;

}
nav li a {
	padding-right: 30px;
	display: inline;
}

a {
	color: #13324f;
	font-size: 20px;
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: #485ea3;
	font-size: 20px;
	text-decoration: none;
	font-weight: 600;
}

/**************************************************/

.hidden {
	display: none;
}

#topBar {
	height: 30px;
	background-color: #223165;
	margin: 0 auto;
}

#mainHeader {
	margin: 0 auto;
	background-color: white;
	padding-bottom: 10px;
}

#navBar {
	text-align: center;
}

#siteContainer {
	width: 1000px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

#sectionHero {
	display: flex;
	flex-direction: row;
  	justify-content: center;
  	padding-bottom: 40px;
  	border-bottom: solid 1px #fff;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

#heroHead {
	position: absolute;
	width: 800px;
	text-align: center;
}

#heroText {
	position: absolute;
	width: 600px;
	text-align: right;
	color: #fff;
	font-size: 25px;
	margin-top: 330px;
	margin-left: 200px;
	padding-right: 50px;
}

#women {
	color: #223165;
}

#iceHockey {
	color: #86b7b1;
}

#h2Hero {
	color: #2d7a84;
	font-size: 60px;
	text-align: center;
}

.imgSub1 {
	margin: 0 auto;
	padding-top: 5px;
	display: block;
}

.buttonMore {
	border: none;
	border-radius: 10px;
	background-color: #223165;
	width: 110px;
	height: 30px;
	color: #fff;
	font-weight: 600;
	margin: 5px 5px 5px 0px;
}

.buttonMore:hover {
	border: none;
	border-radius: 10px;
	background-color: #223165;
	width: 110px;
	height: 30px;
	color: #fff;
	font-weight: 600;
	margin: 5px 5px 5px 0px;
	opacity: 0.8;
}

#subject2 {
	border-top: solid 1px #fff;
	padding-top: 30px;
	margin-top: 50px;
	display: flex;
	flex-direction: row-reverse;
}

#subject3 {
	border-top: solid 1px #fff;
	padding-top: 30px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
}

#imgsub2Box {
	margin-left: 120px;
}

#textsub2Box {
	margin-top: 250px;
	width: 400px;
}

#imgsub3Box {
	margin-right: 120px;
}

#textsub3Box {
	width: 400px;
	margin-top: 250px;
}

#mainFooter {
	border-top: solid 1px #fff;
	padding-top: 30px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
}

#urlBox {
	position: absolute;
	border-radius: 10px;
	border: none;
	background-color: #4f84a8;
	opacity: 0.9;
	width: 360px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	margin-left: 570px;
	margin-top: 40px;
}